# Ignorar archivos generados por Node.js
node_modules/

# Ignorar el directorio de Next.js
.next/

# Archivos de configuración local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignorar archivos de caché
.cache/

# Archivos de configuración de IDE
.vscode/

# Archivos de Docker
docker-compose.yml
docker-compose.override.yml
Dockerfile

# Archivos de build para producción
out/

# Archivos generados por sistemas operativos
.DS_Store
Thumbs.db

# Archivos de log
*.log
